body{
    background-color: aqua;
    font-family: Georgia;
}
h1{
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
}
h4{
    text-align: right;
}
p{
    text-align: center;
}
#aaw{
    text-align: center;
}
#ya{
    color: orange;
}
a{
    text-decoration: none;
    color: red;
}
#yang:hover{
    color: white;
}